﻿@model OnlineCourses.Models.UsersHomeworksTeachers

@{
    Layout = null;
}

@{
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Users teacher = _db.Users.FirstOrDefault(x => x.UserLogin == User.Identity.Name);
    OnlineCourses.Models.Users user = _db.Users.FirstOrDefault(x => x.UserID == Model.UserID);
    OnlineCourses.Models.Homeworks homework = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == Model.HomeworkID);
    <div class="">

        <div class="clearfix"></div>
        <div class="row">


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Информация о пользователе</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <h4><b>ФИО:</b> @user.UserName</h4>
                        <h4><b>Логин: </b> @user.UserLogin</h4>

                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Информация о домашнем задании</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4><b>Название:</b> @homework.HomeworkName</h4>
                        <h4><b>Цель работы:</b> @homework.HomeworkGoal</h4>
                        <h4><b>Задание:</b> @homework.HomeworkTask</h4>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Выполненное задание</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4><b>Файлы:</b></h4>
                        <form class="dropzone">

                            @foreach (string file in ViewBag.Files)
                            {
                                FileInfo f = new FileInfo(file);
                                double size = f.Length / (1024.0 * 1024.0);

                                <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DownloadFile", "Teacher", new { filePath = @file })'">
                                    <div class="dz-image">
                                        @if (f.Extension == ".zip")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                        } else if(f.Extension == ".pdf")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                        }
                                        else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                        }
                                        else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                        }
                                        else
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                        }
                                    </div>
                                    <div class="dz-details">
                                        <div class="dz-size">
                                            <span data-dz-size=""><strong>@Math.Round(size,2)</strong> MB</span>
                                        </div>
                                        <div class="dz-filename">
                                            <span data-dz-name="">@f.Name</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        </form>
                        <br />

                        <h4><b>Комментарий ученика:</b></h4>
                        <p>@Model.UserComment</p>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Проверка</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4><b>Файлы:</b></h4>
                        <form action="~/Teacher/UploadFile?ID=@Model.ID" id="dZUpload" class="dropzone">
                            
                            

                            @foreach (string file in ViewBag.Answers)
                            {
                                FileInfo f = new FileInfo(file);
                                double size = f.Length / (1024.0 * 1024.0);

                                <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DeleteFile", "Teacher", new { filePath = @file, hwutID = Model.ID})'">
                                    <div class="dz-image">
                                        @if (f.Extension == ".zip")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                        }
                                        else if (f.Extension == ".pdf")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                        }
                                        else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                        }
                                        else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                        }
                                        else
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                        }
                                    </div>
                                    <div class="dz-details">
                                        <div class="dz-size">
                                            <span data-dz-size=""><strong>@Math.Round(size, 3)</strong> MB</span>
                                        </div>
                                        <div class="dz-filename">
                                            <span data-dz-name="">@f.Name</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </form>
                        <br />

                        <h4><b>Комментарий ученика:</b></h4>
                        <p>@Model.UserComment</p>
                    </div>
                </div>

            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    @{
                        
                        @Html.ActionLink("Назад", "ViewHomeworksUsersTeachersFullPage", new { id = homework.HomeworkID })
                    }
                </div>
            </div>
        </div>



    </div>

}

<script src="~/Gentelella/vendors/dropzone/dist/dropzone.js"></script>
<script src="~/Gentelella/build/js/custom.js"></script>
