﻿@model OnlineCourses.Models.UsersHomeworksTeachers

@{
    ViewBag.Title = "Проверить домашнее задание";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}

@{
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Users teacher = _db.Users.FirstOrDefault(x => x.UserLogin == User.Identity.Name);
    OnlineCourses.Models.Users user = _db.Users.FirstOrDefault(x => x.UserID == Model.UserID);
    OnlineCourses.Models.Homeworks homework = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == Model.HomeworkID);
    OnlineCourses.Models.Lessons lesson = _db.Lessons.FirstOrDefault(x => x.LessonID == homework.LessonID);

    OnlineCourses.Models.Blocks block = _db.Blocks.FirstOrDefault(x => x.BlockID == lesson.BlockID);
    <div class="">

        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <ul class="navList">
                            <li><a href="@Url.Action("ViewBlocks", "Teacher", new { id = block.CourseID })">@block.BlockName</a></li>
                            <li><a href="@Url.Action("ViewLessonsFullPage", "Teacher", new { id = lesson.BlockID })">@lesson.LessonName</a></li>
                            <li><a href="@Url.Action("ViewHomeworksFullPage", "Teacher", new { id = lesson.LessonID })">@homework.HomeworkName</a></li>
                            <li><a href="@Url.Action("ViewHomeworksUsersTeachersFullPage", "Teacher", new { id = homework.HomeworkID })">@user.UserLogin</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Информация о пользователе</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <h4><b>ФИО:</b> @user.UserName</h4>
                        <h4><b>Логин: </b> @user.UserLogin</h4>
                        <h4><b>Email: </b> @user.UserEmail</h4>

                        @if (user.UserPhone != null)
                        {
                            <h4><b>Номер телефона: </b> @user.UserPhone</h4>
                        }
                        @if (user.UserVK != null)
                        {
                            <h4><b>Аккаунт Вконтакте : </b> <a href="@user.UserVK">@user.UserVK</a></h4>
                        }

                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Информация о домашнем задании</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4><b>Название:</b></h4> <p>@homework.HomeworkName</p>
                        <h4><b>Цель работы:</b> </h4> <p>@homework.HomeworkGoal</p>
                        <h4><b>Задание:</b></h4> <p>@homework.HomeworkTask</p>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Выполненное задание</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4><b>Файлы:</b></h4>
                        <form class="dropzone dropzone-full">

                            @foreach (string file in ViewBag.Files)
                            {
                                FileInfo f = new FileInfo(file);
                                double size = f.Length / (1024.0 * 1024.0);

                                <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DownloadFile", "Teacher", new { filePath = @file })'">
                                    <div class="dz-image">
                                        @if (f.Extension == ".zip")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                        } else if(f.Extension == ".pdf")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                        }
                                        else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                        }
                                        else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                        }
                                        else
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                        }
                                    </div>
                                    <div class="dz-details">
                                        <div class="dz-size">
                                            <span data-dz-size=""><strong>@Math.Round(size,2)</strong> MB</span>
                                        </div>
                                        <div class="dz-filename">
                                            <span data-dz-name="">@f.Name</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        </form>
                        <br />

                        <h4><b>Комментарий ученика:</b></h4>
                        <p>@Model.UserComment</p>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel textInfoPanel">
                    <div class="x_title">
                        <h2>Проверка</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4><b>Файлы:</b></h4>
                        <form id="dZUpload2" action="~/Teacher/UploadFile?ID=@Model.ID" class="dropzone dZUpload dropzone-full">
                            
                            

                            @foreach (string file in ViewBag.Answers)
                            {
                                FileInfo f = new FileInfo(file);
                                double size = f.Length / (1024.0 * 1024.0);

                                <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DeleteFile", "Teacher", new { filePath = @file, hwutID = Model.ID})'">
                                    <div class="dz-image">
                                        @if (f.Extension == ".zip")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                        }
                                        else if (f.Extension == ".pdf")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                        }
                                        else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                        }
                                        else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                        }
                                        else
                                        {
                                            <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                        }
                                    </div>
                                    <div class="dz-details">
                                        <div class="dz-size">
                                            <span data-dz-size=""><strong>@Math.Round(size, 3)</strong> MB</span>
                                        </div>
                                        <div class="dz-filename">
                                            <span data-dz-name="">@f.Name</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </form>
                        <h4><b>Ваш комментарий(необязательно):</b></h4>
@using (@Html.BeginForm("CheckHWFullPage", "Teacher",
                                null,
                                FormMethod.Post, new { @class = "form-horizontal" }))
{
                         
                            @Html.HiddenFor(x => x.ID)
                            <div class="form-group tComment" style="margin-bottom: 20px;">
                                
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    @Html.TextAreaFor(model => model.TeacherComment, new { @class = "form-control col-md-12 col-xs-12", data_parsley_maxlength = 1000, rows = 10 })
                                </div>
                                
                                
                            </div>
                            <div class="form-group tComment text-center" style="margin-bottom: 20px; margin-top: 40px">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.Mark, new { id = "hwMark", @class = "knob", data_width = "100", data_cursor = "true", data_height = "120", data_min = "0", data_max = "10", data_fgcolor = "#ffffff", value = "0" })
                                    
                                </div>
                            </div>
                            <div class="form-group tComment">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        
}
                        <br />

                        
                    </div>
                </div>

            </div>


           
        </div>



    </div>

}


