﻿@model OnlineCourses.Models.Blocks

@{
    ViewBag.Title = "Добавить блок";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    int a = ViewBag.CourseID;
    OnlineCourses.Models.Courses course = _db.Courses.FirstOrDefault(x => x.CourseID == a);
}

<div class="">


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <ul class="navList">
                        <li><a href="@Url.Action("EditCourse", "Teacher", new { id = ViewBag.CourseID })">@course.CourseName</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Изменить информацию об учебном блоке</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    @using (@Html.BeginForm("CreateBlock", "Teacher",
null,
FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                    {
                        @Html.HiddenFor(x => x.CourseID, new { Value = ViewBag.CourseID })

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Название учебного блока <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.BlockName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 50 } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Описание учебного блока <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.BlockDescription, new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 1000 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Цель учебного блока <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.BlockGoalName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 50 } })

                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Список занятий <small>будет доступен после сохранения основной информации</small></h2>
                    
                    <div class="clearfix"></div>
                </div>
              
            </div>
            
        </div>


    </div>



</div>





