﻿@model OnlineCourses.Models.Courses

@{
    ViewBag.Title = "Добавить курс";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}

<div class="">

    <div class="page-title">
        <div class="title_left">
            <h3>Добавить курс</h3>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Основная информация</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    @using (@Html.BeginForm("CreateCourse", "Teacher",
                null,
                FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                    {
                        @Html.HiddenFor(x => x.UserID, new { Value = ViewBag.UserID})
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Название <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 50 } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Описание 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.CourseDescription, new { @class = "form-control col-md-7 col-xs-12", data_parsley_maxlength = 4000, rows  =5 })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Цена <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.CoursePrice, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Цена со скидкой</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.CourseDiscountPrice, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Дата окончания акции</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group">
                                    <div class="input-group date" id="myDatepicker">
                                        @Html.EditorFor(model => model.CourseDiscountDeadline, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Список учебных блоков <small>будет доступен после сохранения основной информации</small></h2>
                    
                    <div class="clearfix"></div>
                </div>
                
            </div>
            
        </div>
    </div>



</div>