﻿@model OnlineCourses.Models.Homeworks

@{
    Layout = null;
}

<div class="">


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Добавить домашнее задание</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    @using (@Html.BeginForm("EditHW", "Teacher",
null,
FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                    {
                        @Html.HiddenFor(x => x.LessonID)
                        @Html.HiddenFor(x => x.HomeworkID)
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Название домашнего задания <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.HomeworkName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 100 } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Дедлайн <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="input-group date" id="myDatepicker">
                                        @Html.EditorFor(model => model.HomeworkDeadline, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Цель <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.HomeworkGoal, new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 1000 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Задание <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.HomeworkTask, new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 2500 })
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div>
                @Html.ActionLink("Назад", "EditLessonFullPage", new { id = Model.LessonID })
            </div>
        </div>



    </div>



</div>

<script src="~/Gentelella/vendors/parsleyjs/dist/parsley.js"></script>
<script src="~/Gentelella/vendors/parsleyjs/dist/i18n/ru.js"></script>
<script src="~/Gentelella/build/js/custom.js"></script>