﻿@model OnlineCourses.Models.Lessons

@{
    ViewBag.Title = Model.LessonName;
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Blocks block = _db.Blocks.FirstOrDefault(x => x.BlockID == Model.BlockID);
    OnlineCourses.Models.Courses course = _db.Courses.FirstOrDefault(x => x.CourseID == block.CourseID);
}

<div class="">


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <ul class="navList">
                        <li><a href="@Url.Action("EditCourse", "Teacher", new { id = course.CourseID })">@course.CourseName</a></li>
                        <li><a href="@Url.Action("EditBlockFullPage", "Teacher", new { id = block.BlockID })">@block.BlockName</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            
                <div class="x_panel" style="max-width: 383px; overflow: hidden">
                    <div class="x_title">
                        <h2>Аватар</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <img src="@Model.LessonImage" style="width: 100%" />
                        <br />
                        <br />

                        @using (Html.BeginForm("ChangeLessonImage", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <input type="hidden" name="LessonID" value="@Model.LessonID" />
                            <input type="file" name="upload" style="max-width: 100%; overflow: hidden" />
                            <br />
                            <button class="btn btn-success" onclick="location.href='@Url.Action("ChangeLessonImage", "Admin")'">Сохранить</button>

                        }
                        @using (Html.BeginForm("DeleteLessonImage", "Teacher", FormMethod.Post))
                        {

                            <input type="hidden" name="LessonID" value="@Model.LessonID" />

                            <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteLessonImage", "Admin")'">Удалить аватар</button>
                        }
                    </div>
                </div>
            
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
       
            <div class="x_panel">
                <div class="x_title">
                    <h2>Изменить информацию о занятии</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    @using (@Html.BeginForm("EditLesson", "Teacher",
null,
FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                    {
                        @Html.HiddenFor(x => x.BlockID)
                        @Html.HiddenFor(x => x.LessonID)

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Название занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.LessonName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 100 } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Дата занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="input-group date" id="myDatepicker">
                                        @Html.EditorFor(model => model.LessonDateTime, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Продолжительность занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group date" id="myDatepicker2">
                                    @Html.EditorFor(model => model.LessonDuration, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Описание занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.LessonDescription, new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 1000 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Ссылка на лекцию <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.LessonLecture, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 250 } })
                            </div>
                        </div>
                        
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    }

                </div>
            </div>

        

       
                
           </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Список домашних заданий</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a onclick="deleteHW(this); return false;" href="@Url.Action("DeleteHW","Teacher")"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a onclick="editHW(this); return false;" href="@Url.Action("EditHWFullPage","Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateHW","Teacher", new { lessonID = Model.LessonID })"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </li>


                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Здесь вы можете добавить новое домашнее задание к уроку, удалить старое или изменить информацию по существующему
                    </p>

                    <table id="datatable-hwList" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th>Название</th>
                                <th>Дедлайн</th>
                                <th>Цель</th>
                                <th>Задание</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OnlineCourses.Models.Homeworks h in Model.Homeworks)
                            {
                                <tr>
                                    <td style="display: none;">@Model.LessonID</td>
                                    <td style="display: none;">@h.HomeworkID</td>
                                    <td>@h.HomeworkName</td>
                                    <td>@h.HomeworkDeadline</td>
                                    <td>@h.HomeworkGoal</td>
                                    <td>@h.HomeworkTask</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel textInfoPanel">
                <div class="x_title">
                    <h2>Материалы урока:</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <form id="dZUpload3" action="~/Teacher/UploadLessonFile?ID=@Model.LessonID" class="dropzone dZUpload dropzone-full" style="cursor: pointer">



                        @foreach (string file in ViewBag.Files)
                        {
                            FileInfo f = new FileInfo(file);
                            double size = f.Length / (1024.0 * 1024.0);

                            <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DeleteLessonFile", "Admin", new { filePath = @file, id = Model.LessonID})'">
                                <div class="dz-image">
                                    @if (f.Extension == ".zip")
                                    {
                                        <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                    }
                                    else if (f.Extension == ".pdf")
                                    {
                                        <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                    }
                                    else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                    {
                                        <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                    }
                                    else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                    {
                                        <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                    }
                                    else
                                    {
                                        <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                    }
                                </div>
                                <div class="dz-details">
                                    <div class="dz-size">
                                        <span data-dz-size=""><strong>@Math.Round(size, 3)</strong> MB</span>
                                    </div>
                                    <div class="dz-filename">
                                        <span data-dz-name="">@f.Name</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>



                </div>
            </div>
            
        </div>

    </div>



</div>



