﻿@model OnlineCourses.Models.Courses

@{
    ViewBag.Title = Model.CourseName;
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}




<div class="">

    <div class="page-title">
        <div class="title_left">
            <h3>Редактировать курс</h3>
        </div>

        
    </div>
    <div class="clearfix"></div>
    <div class="row">
        
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="x_panel" style="max-width: 383px">
                    <div class="x_title">
                        <h2>Изображение</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <img src="@Model.CourseImage" style="width: 100%; padding: 10px; background-color: @Model.CourseBackground" />
                        <br />
                        <br />

                        @using (Html.BeginForm("ChangeCourseImage", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <input type="hidden" name="CourseID" value="@Model.CourseID" />
                            <input type="file" name="upload" style="max-width: 100%; overflow: hidden" />
                            <br />
                            <button class="btn btn-success" onclick="location.href='@Url.Action("ChangeCourseImage", "Admin")'">Сохранить</button>

                        }
                        @using (Html.BeginForm("DeleteCourseImage", "Teacher", FormMethod.Post))
                        {

                            <input type="hidden" name="CourseID" value="@Model.CourseID" />

                            <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteCourseImage", "Admin")'">Удалить изображение</button>
                        }

                    </div>
                </div>
                
                
            </div>
            
        
        
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Основная информация</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="width: 100%">
                        <br>
                    
                        @using (@Html.BeginForm("EditCourse", "Teacher",
        null,
        FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                        {
                            @Html.HiddenFor(model => model.CourseID)
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Название <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 50 } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Описание
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextAreaFor(model => model.CourseDescription, new { @class = "form-control col-md-7 col-xs-12", data_parsley_maxlength = 4000, rows = 5 })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Цена <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CoursePrice, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Фон курса</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CourseBackground, new { htmlAttributes = new { @class = "form-control demo1 form-control" } })
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Цена со скидкой</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CourseDiscountPrice, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Дата окончания акции</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <div class="input-group date" id="myDatepicker">
                                            @Html.EditorFor(model => model.CourseDiscountDeadline, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        }
                    
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Список учебных блоков</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a onclick="deleteBlock(this); return false;" href="@Url.Action("DeleteBlock", "Teacher")"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a onclick="editBlock(this); return false;" href="@Url.Action("EditBlockFullPage", "Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="@Url.Action("CreateBlock", "Teacher", new { courseID = Model.CourseID })"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </li>
                        
                        
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Здесь вы можете просмотреть информацию об учебных блоках данного курса, добавить новые, удалить старые или изменить информацию по существующим
                        </p>

                        <table id="datatable-blockList" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th>Кол-во занятий</th>
                                    <th>Кол-во учебных часов</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OnlineCourses.Models.Blocks b in Model.Blocks)
                                {
                                    <tr>
                                        <td style="display: none;">@b.CourseID</td>
                                        <td style="display: none;">@b.BlockID</td>
                                        <td>@b.BlockName</td>
                                        <td>@b.BlockDescription</td>
                                        <td>@b.NumOfLessons</td>
                                        <td>@b.NumOfHours</td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
                
                <div>
                    @Html.ActionLink("Удалить курс", "DeleteCourse", new { id = Model.CourseID }, new { @class = "required", onclick = "return confirm('Вы точно хотите удалить данный курс вместе со всеми данными?');" })
                </div>
            </div>
        
    </div>

    

</div>






