﻿@model OnlineCourses.Models.Lessons

@{
    ViewBag.Title = "EditLesson";
    
}


<div class="">


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Изменить информацию о занятии</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    @using (@Html.BeginForm("EditLesson", "Teacher",
null,
FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                    {
                        @Html.HiddenFor(x => x.BlockID)
                        @Html.HiddenFor(x => x.LessonID)

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Название занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.LessonName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 100 } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Дата занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="input-group date" id="myDatepicker">
                                        @Html.EditorFor(model => model.LessonDateTime, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Продолжительность занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group date" id="myDatepicker2">
                                    @Html.EditorFor(model => model.LessonDuration, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Описание занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.LessonDescription, new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 1000 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Ссылка на лекцию <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.LessonLecture, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 250 } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Картинка занятия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.LessonImage, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 250 } })
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Список домашних заданий</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a onclick="deleteHW(this); return false;" href="@Url.Action("DeleteHW","Teacher")"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a onclick="editHW(this); return false;" href="@Url.Action("EditHW","Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateHW","Teacher", new { lessonID = Model.LessonID })"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </li>


                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Здесь вы можете добавить новое домашнее задание к уроку, удалить старое или изменить информацию по существующему
                    </p>

                    <table id="datatable-hwList" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th>Название</th>
                                <th>Дедлайн</th>
                                <th>Цель</th>
                                <th>Задание</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OnlineCourses.Models.Homeworks h in Model.Homeworks)
                            {
                                <tr>
                                    <td style="display: none;">@Model.LessonID</td>
                                    <td style="display: none;">@h.HomeworkID</td>
                                    <td>@h.HomeworkName</td>
                                    <td>@h.HomeworkDeadline</td>
                                    <td>@h.HomeworkGoal</td>
                                    <td>@h.HomeworkTask</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
            <div>
                @Html.ActionLink("Назад", "EditBlockFullPage", new { id = Model.BlockID })
            </div>
        </div>


    </div>



</div>

<script src="~/Gentelella/vendors/parsleyjs/dist/parsley.js"></script>
<script src="~/Gentelella/vendors/parsleyjs/dist/i18n/ru.js"></script>
<script src="~/Gentelella/build/js/custom.js"></script>









<script>
    $('#myDatepicker').datetimepicker({
        format: 'DD.MM.YYYY HH:mm'
    });
    $('#myDatepicker2').datetimepicker({
        format: 'HH:mm'
    });
</script>
