﻿@model OnlineCourses.Models.Blocks

@{
    ViewBag.Title = Model.BlockName;
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    
    OnlineCourses.Models.Courses course = _db.Courses.FirstOrDefault(x => x.CourseID == Model.CourseID);
}


<div class="">


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <ul class="navList">
                        <li><a href="@Url.Action("EditCourse", "Teacher", new { id = Model.CourseID })">@course.CourseName</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Изменить информацию об учебном блоке</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    @using (@Html.BeginForm("EditBlock", "Teacher",
null,
FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                    {
                        @Html.HiddenFor(model => model.CourseID)
                        @Html.HiddenFor(model => model.BlockID)
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Название учебного блока <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.BlockName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 50 } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Описание учебного блока <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(model => model.BlockDescription, new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 1000 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Цель учебного блока <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.BlockGoalName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 50 } })

                            </div>
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Список занятий</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a onclick="deleteLesson(this); return false;" href="@Url.Action("DeleteLesson","Teacher")"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a onclick="editLesson(this); return false;" href="@Url.Action("EditLessonFullPage","Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateLesson","Teacher", new { blockID = Model.BlockID })"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </li>


                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Здесь вы можете добавить новое занятие к блоку, удалить старое или изменить информацию по существующему
                    </p>

                    <table id="datatable-lessonsList" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th>Название</th>
                                <th>Дата</th>
                                <th>Продолжительность</th>
                                <th>Лекция</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OnlineCourses.Models.Lessons l in Model.Lessons)
                            {
                                <tr>
                                    <td style="display: none;">@Model.BlockID</td>
                                    <td style="display: none;">@l.LessonID</td>
                                    <td>@l.LessonName</td>
                                    <td>@l.LessonDateTime</td>
                                    <td>@l.LessonDuration</td>
                                    <td>@l.LessonLecture</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
            
        </div>


    </div>



</div>



