﻿@model IEnumerable<OnlineCourses.Models.Homeworks>

@{
    ViewBag.Title = "Домашние задания";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}

@{
    OnlineCourses.Models.Homeworks hw = Model.FirstOrDefault();
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Lessons lesson = _db.Lessons.FirstOrDefault(x => x.LessonID == hw.LessonID);
    OnlineCourses.Models.Blocks block = _db.Blocks.FirstOrDefault(x => x.BlockID == lesson.BlockID);


<div class="">

    <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <ul class="navList">
                        <li><a href="@Url.Action("ViewBlocks", "Teacher", new { id = block.CourseID })">@block.BlockName</a></li>
                        <li><a href="@Url.Action("ViewLessonsFullPage", "Teacher", new { id = lesson.BlockID })">@lesson.LessonName</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Домашние задания</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a onclick="viewHWUT(this); return false;" href="@Url.Action("ViewHomeworksUsersTeachersFullPage", "Teacher")"><i class="fa fa-arrow-right green" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <table id="datatable-hwListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th>Название</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OnlineCourses.Models.Homeworks h in Model)
                            {
                                <tr>

                                    <td style="display: none;">@h.LessonID</td>
                                    <td style="display: none;">@h.HomeworkID</td>
                                    <td>@h.HomeworkName</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>

        </div>


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
                
                 
            </div>
        </div>
    </div>



</div>

}

