﻿@model IEnumerable<OnlineCourses.Models.Lessons>

@{
    ViewBag.Title = "Занятия";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";

}

@{ 
    OnlineCourses.Models.Lessons lesson = Model.FirstOrDefault();
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Blocks block = _db.Blocks.FirstOrDefault(x => x.BlockID == lesson.BlockID);
<div class="">

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <ul class="navList">
                        <li><a href="@Url.Action("ViewBlocks", "Teacher", new { id = block.CourseID })">@block.BlockName</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Занятия</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a onclick="viewHW(this); return false;" href="@Url.Action("ViewHomeworksFullPage", "Teacher")"><i class="fa fa-arrow-right green" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <table id="datatable-lessonsListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th>Название</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OnlineCourses.Models.Lessons l in Model)
                            {
                                <tr>

                                    <td style="display: none;">@l.BlockID</td>
                                    <td style="display: none;">@l.LessonID</td>
                                    <td>@l.LessonName</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>

        </div>


        
    </div>



</div>


}


