﻿@model IEnumerable<OnlineCourses.Models.Blocks>

@{
    ViewBag.Title = "Учебные блоки";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}

<div class="">

    <div class="clearfix"></div>
    <div class="row">
        
           
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Учебные блоки</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a onclick="viewLessons(this); return false;" href="@Url.Action("ViewLessonsFullPage", "Teacher")"><i class="fa fa-arrow-right green" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            

                            <table id="datatable-blockListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="display: none"></th>
                                        <th style="display: none"></th>
                                        <th>Название</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (OnlineCourses.Models.Blocks b in Model)
                                    {
                                        <tr>
                                            <td style="display: none;">@b.CourseID</td>
                                            <td style="display: none;">@b.BlockID</td>
                                            <td>@b.BlockName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    
                </div>
            
        
        
    </div>



</div>

