﻿@model IEnumerable<OnlineCourses.Models.UsersHomeworksTeachers>

@{
    Layout = null;
}

@{
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Teachers teacher = _db.Teachers.FirstOrDefault(x => x.TeacherLogin == User.Identity.Name);
    <div class="">

        <div class="clearfix"></div>
        <div class="row">


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>На проверке</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a onclick="teacherRemoveHW(this); return false;" href="@Url.Action("TeacherRemoveTheHW", "Teacher")"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a onclick="checkHW1(this); return false;" href="@Url.Action("CheckHWFullPage", "Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <table id="datatable-hwutOnCheckListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>Название домашнего задания</th>
                                    <th>Логин ученика</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OnlineCourses.Models.UsersHomeworksTeachers hut in Model)
                                {
                                    if (teacher.TeacherID == hut.TeacherID && hut.Mark == null)
                                    {
                                        var user = _db.Users.FirstOrDefault(x => x.UserID == hut.UserID);
                                        var h = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == hut.HomeworkID);
                                        <tr>

                                            <td style="display: none;">@hut.HomeworkID</td>
                                            <td style="display: none;">@hut.ID</td>
                                            <td>@h.HomeworkName</td>
                                            <td>@user.UserLogin</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height: auto">
                    <div class="x_title">
                        <h2>Проверено</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                            </li>
                            <li>
                                <a onclick="checkHW2(this); return false;" href="@Url.Action("CheckHW", "Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display:none">


                        <table id="datatable-hwutCheckedListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>Название домашнего задания</th>
                                    <th>Логин ученика</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OnlineCourses.Models.UsersHomeworksTeachers hut in Model)
                                {
                                    if (teacher.TeacherID == hut.TeacherID && hut.Mark != null)
                                    {
                                        var user = _db.Users.FirstOrDefault(x => x.UserID == hut.UserID);
                                        var h = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == hut.HomeworkID);
                                        <tr>

                                            <td style="display: none;">@hut.HomeworkID</td>
                                            <td style="display: none;">@hut.ID</td>
                                            <td>@h.HomeworkName</td>
                                            <td>@user.UserLogin</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Свободно</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a onclick="teacherGetsHW(this); return false;" href="@Url.Action("TeacherGetsTheHW", "Teacher")"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <table id="datatable-hwutVacantListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>Название домашнего задания</th>
                                    <th>Логин ученика</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OnlineCourses.Models.UsersHomeworksTeachers hut in Model)
                                {
                                    if (teacher.TeacherID != hut.TeacherID)
                                    {
                                        var user = _db.Users.FirstOrDefault(x => x.UserID == hut.UserID);
                                        var h = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == hut.HomeworkID);
                                        <tr>

                                            <td style="display: none;">@teacher.TeacherID</td>
                                            <td style="display: none;">@hut.ID</td>
                                            <td>@h.HomeworkName</td>
                                            <td>@user.UserLogin</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    @{
                        OnlineCourses.Models.UsersHomeworksTeachers hw = Model.FirstOrDefault();
                        
                        OnlineCourses.Models.Homeworks homework = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == hw.HomeworkID);
                        @Html.ActionLink("Назад", "ViewHomeworksFullPage", new { id = homework.LessonID })
                    }
                </div>
            </div>
        </div>



    </div>

}
<script src="~/Gentelella/build/js/custom.js"></script>