﻿@model IEnumerable<OnlineCourses.Models.UsersHomeworksTeachers>

@{
    ViewBag.Title = "Домашние задания";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}

@{
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Users teacher = _db.Users.FirstOrDefault(x => x.UserLogin == User.Identity.Name);
    int id = ViewBag.HomeworkID;
    OnlineCourses.Models.Homeworks hw = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == id);
    OnlineCourses.Models.Lessons lesson = _db.Lessons.FirstOrDefault(x => x.LessonID == hw.LessonID);
    OnlineCourses.Models.Blocks block = _db.Blocks.FirstOrDefault(x => x.BlockID == lesson.BlockID);
    <div class="">

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <ul class="navList">
                            <li><a href="@Url.Action("ViewBlocks", "Teacher", new { id = block.CourseID })">@block.BlockName</a></li>
                            <li><a href="@Url.Action("ViewLessonsFullPage", "Teacher", new { id = lesson.BlockID })">@lesson.LessonName</a></li>
                            <li><a href="@Url.Action("ViewHomeworksFullPage", "Teacher", new { id = lesson.LessonID })">@hw.HomeworkName</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color: orange;">На проверке</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a onclick="teacherRemoveHW(this); return false;" href="@Url.Action("TeacherRemoveTheHW", "Teacher")"><i class="fa fa-times red" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a onclick="checkHW1(this); return false;" href="@Url.Action("CheckHWFullPage", "Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <table id="datatable-hwutOnCheckListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>Название домашнего задания</th>
                                    <th>Логин ученика</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OnlineCourses.Models.UsersHomeworksTeachers hut in Model)
                                {
                                    if (teacher.UserID == hut.TeacherID && hut.Mark == null)
                                    {
                                        var user = _db.Users.FirstOrDefault(x => x.UserID == hut.UserID);
                                        var h = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == hut.HomeworkID);
                                        <tr>

                                            <td style="display: none;">@hut.HomeworkID</td>
                                            <td style="display: none;">@hut.ID</td>
                                            <td>@h.HomeworkName</td>
                                            <td>@user.UserLogin</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color: green;">Проверено</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                            </li>
                            <li>
                                <a onclick="checkHW2(this); return false;" href="@Url.Action("CheckHWFullPage", "Teacher")"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <table id="datatable-hwutCheckedListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>Название домашнего задания</th>
                                    <th>Логин ученика</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OnlineCourses.Models.UsersHomeworksTeachers hut in Model)
                                {
                                    if (teacher.UserID == hut.TeacherID && hut.Mark != null)
                                    {
                                        var user = _db.Users.FirstOrDefault(x => x.UserID == hut.UserID);
                                        var h = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == hut.HomeworkID);
                                        <tr>

                                            <td style="display: none;">@hut.HomeworkID</td>
                                            <td style="display: none;">@hut.ID</td>
                                            <td>@h.HomeworkName</td>
                                            <td>@user.UserLogin</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Свободно</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a onclick="teacherGetsHW(this); return false;" href="@Url.Action("TeacherGetsTheHW", "Teacher")"><i class="fa fa-arrow-up green" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <table id="datatable-hwutVacantListFT" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>Название домашнего задания</th>
                                    <th>Логин ученика</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OnlineCourses.Models.UsersHomeworksTeachers hut in Model)
                                {
                                    if (teacher.UserID != hut.TeacherID)
                                    {
                                        var user = _db.Users.FirstOrDefault(x => x.UserID == hut.UserID);
                                        var h = _db.Homeworks.FirstOrDefault(x => x.HomeworkID == hut.HomeworkID);
                                        <tr>

                                            <td style="display: none;">@teacher.UserID</td>
                                            <td style="display: none;">@hut.ID</td>
                                            <td>@h.HomeworkName</td>
                                            <td>@user.UserLogin</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>


            
        </div>



    </div>

}
