﻿@model OnlineCourses.Models.Users
@{
    ViewBag.Title = "Профиль";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Профиль</h3>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="max-width: 383px">
                    <div class="x_title">
                        <h2>Аватар</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <img src="@Model.UserImage" style="width: 100%" />
                        <br />
                        <br />
                        @using (Html.BeginForm("ChangeAvatar", "UserManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="upload" style="max-width: 100%; overflow: hidden" />
                            <br />
                            <button class="btn btn-success" onclick="location.href='@Url.Action("ChangeAvatar", "UserManager")'">Сохранить</button>
                        }
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteAvatar", "UserManager")'">Удалить аватар</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Основная информация</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        @using (@Html.BeginForm("Index", "UserManager",
null,
FormMethod.Post, new { @class = "form-horizontal form-label-left", data_parsley_validate = "", novalidate = "" }))
                        {
                            @Html.HiddenFor(model => model.UserID)
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    ФИО<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Логин <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="form-control col-md-7 col-xs-12">@Model.UserLogin</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Email <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.ValidationMessage("EmailError")
                                    @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required", data_parsley_maxlength = 250 } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Номер телефона
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", data_parsley_maxlength = 250 } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Аккаунт ВКонтакте
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.UserVK, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", data_parsley_maxlength = 250 } })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        }
                        <br />
                        <form class="form-horizontal form-label-left" data-parsley-validate="" novalidate="">
                            @Html.HiddenFor(model => model.UserID)
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Поменять пароль
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" name="newPas" class="form-control col-md-7 col-xs-12" data-parsley-minlength="8" />
                                    <ul class="parsley-errors-list filled" id="parsley-id-13">
                                        <li class="parsley-minlength">@Html.ValidationMessage("FirstFieldIsEmpty")</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Подтвердить пароль
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" name="newPasConfirm" class="form-control col-md-7 col-xs-12" data-parsley-minlength="8" />
                                    <ul class="parsley-errors-list filled" id="parsley-id-13">
                                        <li class="parsley-minlength">@Html.ValidationMessage("DifferentPasswords")</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-success" onclick="sendNFU(UserID.value, newPas.value, newPasConfirm.value); return false;">Изменить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

