﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700|Source+Sans+Pro:400,700&subset=cyrillic');




section {
  padding: 100px 0; 

}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: white; 

}

.bg-primary {
  background-color: #2863A0 !important; 

}

.bg-gray {
    background-color: #f6f6f6 !important;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif; 
    padding-top: 50px;
}


#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  background-image: none;
  font-family: 'Source Sans Pro' , sans-serif;
  transition: all .2s;
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #2863A0; 
    transition: all .2s;
    font-size: 20px;
}

.icon-bar {
    border: 1px solid #02041B;
}

#mainNav .navbar-toggle {
    border: none;
    background-color: white;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; 
    transition: all, 0.2s;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #2863A0; 
}

#mainNav .navbar-collapse {
    border: none;
}

#mainNav #nav-enroll a{
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    text-shadow: none;
    border: 1px solid #2863A0;
    background-color: #2863A0;
    padding: 7.5px 15px;
    margin-left: 15px;
    margin-top: 6px;
    border-radius: 5px;
    transition: all, .2s;
}

#mainNav #nav-enroll a:hover{
    color: #2863A0;
    background-color: white;
    border: 1px solid #2863A0;
}

#mainNav .navbar-nav > li.nav-item.active > a.nav-link{
    background-color: transparent ;
    background-image: none ;
    box-shadow: none ;
    color: #2863A0; 
}



header.masthead {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;

    background-image: url('../../Images/home_slider.jpg');
    background-size: cover;
}

header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; 

}

header.masthead .header-content .header-content-inner h1 {
    font-family: 'Source Sans Pro' , sans-serif;
     font-size: 30px;
     font-weight: 700;
     margin-top: 0;
     margin-bottom: 0;
     text-transform: uppercase; 
}

header.masthead .header-content .header-content-inner h3 {
     font-family: 'Source Sans Pro' , sans-serif;
     font-size: 18px;
     font-weight: 700;
     margin-top: 5px;
     margin-bottom: 0;
     text-transform: uppercase; 
}

header.masthead .header-content .header-content-inner hr {
     margin: 15px auto; 
}

header.masthead .header-content .header-content-inner p {
     font-size: 16px;
     font-family: 'Source Sans Pro' , sans-serif;
     font-weight: 300;
     margin-bottom: 50px;
     color: rgba(255, 255, 255, 0.7); 
     text-transform: uppercase;
}

header a {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: none;
    border: 1px solid #2863A0;
    background-color: #2863A0;
    padding: 7.5px 15px;
    border-radius: 5px;
    transition: all, .2s;
    text-transform: uppercase;
}

section#contact button{
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-decoration: none;
    transition: all, .2s;
    text-transform: uppercase;
    padding: 7.5px 15px;
    border-radius: 5px;
}





header a:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-decoration: none;
}

.section-heading {
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.section-subheading {
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 75px;
}

#about .section-heading {
    color: #222222;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none; 
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #f2f2f2; 

}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px; 
}
.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' '; 
}
.timeline > li:after {
    clear: both; 
}
.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left; 
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0; 

}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0; 

}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #f2f2f2;
    border-radius: 100%;
    background-color: #2863A0; 
}

.rounded-circle {
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 18px; 
    font-weight: 700;
        font-family: 'Source Sans Pro' , sans-serif;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left; 
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0; 
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0; 

}
.timeline > li:last-child {
    margin-bottom: 0; 
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; 
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.timeline .timeline-heading h4.subheading 
{
    text-transform: none; 
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0; 
}

#services {
    color: white;
}

#services .section-subheading {
    color: white;
}

#services p {
    font-size: 16px;
}

.service-heading {
    font-size: 24px;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    margin: 15px 0;
   
}


.courseBlock+.courseBlock {
    margin-top: 53px;
}

.courseBlock-title {
    padding: 20px 38px 24px;
    background: #2863A0;
    border-radius: 5px 5px 0 0 ;
    min-height: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.courseBlock-title-left h4 {
    font-family: 'Source Sans Pro' , sans-serif;
    margin:0;
    font-size: 30px;
}

.courseBlock-title-right p {
    font-size: 20px;
    font-family: 'Source Sans Pro' , sans-serif;
    margin: 0;
    margin-top: 4px;
    font-style:italic;
}

.courseBlock-body {
    background-color: white;
    padding: 33px 1.25rem;
    border-radius: 0 0 5px 5px;
}

.courseBlock-body .courseBlock-lesson {
    position: relative;
}

.courseBlock-body .courseBlock-lesson+.courseBlock-lesson {
    margin-top: 65px;
}

.courseBlock-body .courseBlock-lesson-number+h5 {
    margin-top: 24px;
}

.courseBlock-lesson h5 {
    font-family: 'Source Sans Pro' , sans-serif;
    font-size: 20px;
    color: #222222;
    font-weight: 700;
    margin: 0;
}

.courseBlock-lesson p {
    margin-top: 13px;
    font-size: 16px;
    color: #777777;
}

.courseBlock-lesson.border-before-none:before {
    display: none;
}

.courseBlock-lesson:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.3125rem;
    border-bottom: 0.0625rem solid #2863A0;
    width: 100%;
}

.courseBlock-lesson-number {
    font-weight: 400;
    font-style: italic;
    font-family: 'Source Sans Pro' , sans-serif;
    font-size: 20px;
    color: #2863A0;
}

.review img {
    width: 225px;
    height: 225px;
    border: 3px solid white;
}

.review h4 {
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    margin-top: 25px;
    font-size: 24px;
}

.review p {
    margin-top: 0;
    margin-bottom: 25px !important;
}

.review blockquote {
    border-left: none;
    margin: 0;
}
.review blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

#teachers .section-subheading {
    margin: 0;
}

section#contact {
    background-color: #2863A0;
    background-image: url('../../Images/NEW/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
}
  section#contact .section-heading, section#login .section-heading {
    color: white; 

 }
 section#contact .section-subheading {
     color: white;

 }

 section#contact label {
    color: white;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    font-size: 16px;
 }

 section#contact input[type=checkbox] {
     width: 15px;
     height: 15px;
     margin-top: 4.5px;
 }

 .testimonial_carousel_caption>a:hover {
     color: white;
 }
 

  section#contact .form-group, section#login .form-group {
    margin-bottom: 25px; }
   section#contact .lessMargin, section#login{
     margin-bottom: 15px;
 }
    section#contact .form-group input,
    section#contact .form-group textarea{
      padding: 20px; }
    section#login .form-group input, section#login .form-group textarea{
      padding: 10px 15px; }
    section#contact .form-group input.form-control, section#login .form-group input.form-control{
      height: auto; }
    section#contact .form-group textarea.form-control, section#login .form-group textarea.form-control{
      height: 236px; }
  section#contact .form-control:focus, section#login .form-control:focus{
    border-color: #2863A0;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder, section#login ::-webkit-input-placeholder{
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Source Sans Pro' , sans-serif;
    text-transform: uppercase; }
  section#contact :-moz-placeholder, section#login :-moz-placeholder{
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 18- */
    font-family: 'Source Sans Pro' , sans-serif;
    text-transform: uppercase; }
  section#contact ::-moz-placeholder, section#login ::-moz-placeholder{
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 19+ */
    font-family: 'Source Sans Pro' , sans-serif;
    text-transform: uppercase; }
  section#contact :-ms-input-placeholder, section#login :-ms-input-placeholder{
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Source Sans Pro' , sans-serif;
    text-transform: uppercase; }
  section#contact .text-danger, section#login .text-danger{
    color: #e74c3c; }

.testimonial_carousel_caption img {
    border: 2px solid white;
}

.carousel-indicators {
    bottom: 10px;
}


.panel-default>.panel-heading {
    background-image: none;
    background-color: #2863A0;
    padding: 20px 25px;
}

.panel-default>.panel-heading h4{
    color: white;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.panel-default>.panel-heading h4 a:hover{
    text-decoration: none;
}

.panel-default p {
    font-size: 16px;
}

.panel-group .panel {
    margin-bottom: 25px;
}

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #2863A0; }
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      background-color: #2863A0; }

section#lessonsFormat p, section#services p {
    margin-bottom: 25px;
}

#sendMessageButton {
    margin-top: 25px;
}

section#login {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url('../../Images/home_slider.jpg');
    background-size: cover;
    padding: 0;
    margin-bottom: 0;
    margin-top: -20px;
}

.loginContainer {
    position: relative;
    width: 100%;
    text-align:center;
    top: 45%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

#orgList {

    width: 100%;
    padding: 10px;
    font-family: Lato;
}

section#login .section-heading {
    margin-bottom: 30px;
    font-size: 28px;
}

.field-validation-error {
    float: left;
    font-weight: 700;
    color: red;
    /* Firefox 18- */
    font-family: 'Source Sans Pro' , sans-serif;
}

.logBody {
    background-color: #f6f6f6;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px; }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 20px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left; } 
    
    .courseBlock-title-left, .courseBlock-title-right {
        display: inline-block;
    }

    .courseBlock-title-left {
        float: left;
    }

    .courseBlock-title-right {
        float: right;
    }

    .courseBlock-body {
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }

   #contact {
       padding: 150px 0;
   }

   #contact .section-heading {
       font-size: 35px;
   }

   
}

<!-- -->

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

    .panel-login > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

            .panel-login > .panel-heading a.active {
                color: #5cb85c;
                font-size: 18px;
            }

        .panel-login > .panel-heading hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }



    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }

.btn-login, .btn-login:hover, .btn-login:focus {
    background-color: #5cb85c;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
}



.forgot-password {
    text-decoration: underline;
    color: #888;
}

    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

.btn-register, .btn-register:hover, .btn-register:focus {
    background-color: #5cb85c;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 14px;
}




section#login {
    background-image: none;
    background-color: #f6f6f6;
}

    section#login h2.section-heading {
        color: #2A3F54;
    }

.panel-login {
    overflow: hidden;
}


@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 37px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 50px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }

@media (min-width: 992px) {
    #mainNav .navbar-brand {
        font-size: 16px !important;
    }

    #mainNav.navbar-faded {
        background-color: transparent;
    }

    #mainNav.navbar-faded .navbar-brand {
        font-size: 20px !important;
        color: white;
        text-shadow: none;
    }

    #mainNav.navbar-faded .navbar-nav > li.nav-item > a.nav-link:focus,
    #mainNav.navbar-faded .navbar-nav > li.nav-item > a.nav-link {
        color: white; 
    }

    #mainNav.navbar-faded .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav.navbar-faded .navbar-nav > li.nav-item > a.nav-link:hover {
          color: #2863A0; 
    }

    #mainNav.navbar-faded #nav-enroll a {
        border: 1px solid white;
        background-color: transparent;
        
    }

    #mainNav.navbar-faded #nav-enroll a:hover {
        color: white;
        background-color: #2863A0;
        border: 1px solid #2863A0;
    }

    header.masthead {
        height: 100% !important;
    }

    header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); 
    }

    

    header.masthead .header-content .header-content-inner {
         max-width: 1000px;
         margin-right: auto;
         margin-left: auto;

    }
    header.masthead .header-content .header-content-inner h1 {
         font-size: 50px; 
    }

    header.masthead .header-content .header-content-inner h3 {
         font-size: 30px; 
    }
    header.masthead .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto; 
    } 

}

@media (max-width: 991px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }

    .navbar-header {
        float: none;
    }


    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    .nav >  #nav-enroll {
        display: inline-block ;
    }

    
}

@media (max-width: 768px)  {
    section#login .loginContainer {
        padding: 50px 20px;
        top: 55%;
    }

    section#login {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: auto;
    }

    .container>.navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }

    .nav {
        margin-bottom: 7.5px;
    }
}





input:-ms-input-placeholder {
    color: #a5a5a5 !important;
}

input::-moz-placeholder {
    color: #a5a5a5 !important;
}

input::-webkit-input-placeholder {
    color: #a5a5a5 !important
}
