﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="~/Gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">


    <!-- bootstrap-datetimepicker -->
    <link href="~/Gentelella/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    
    <link href="~/Gentelella/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link href="~/Gentelella/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <link href="~/Gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet" />
    <link href="~/Gentelella/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Gentelella/build/css/custom.css" rel="stylesheet" />
</head>

<body class="nav-md cmBody" style="background: #2A3F54">
    @using (OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities())
    {
        var user = _db.Users.FirstOrDefault(x => x.UserLogin == User.Identity.Name);

        <div class="container body">
            <div class="main_container">


                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view" style="background: #2A3F54">

                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="@user.UserImage" class="img-circle profile_img" />
                            </div>
                            <div class="profile_info">
                                <span>Привет,</span>
                                <h2>@user.UserName</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>Основное</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="@Url.Action("Index", "UserManager")"><i class="fa fa-home"></i> Профиль </a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-book"></i> Студент <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("Index", "Student")">Купленные курсы</a></li>
                                            <li><a href="@Url.Action("ViewUnboughtCourses", "Student")">Новые курсы</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-book"></i> Учитель <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a style="font-weight:700">Работа с курсами</a>
                                                <ul class="nav child_menu">


                                                    <li><a href="@Url.Action("CreateCourse", "Teacher")" style="font-weight:700">НОВЫЙ КУРС</a></li>

                                                    @foreach (OnlineCourses.Models.Courses c in _db.Users.FirstOrDefault(x => x.UserLogin == User.Identity.Name).MyCourses)
                                                    {
                                                        <li><a href="@Url.Action("EditCourse", "Teacher", new { id = c.CourseID })">@c.CourseName</a></li>
                                                    }




                                                </ul>
                                            </li>
                                            <li>
                                                <a style="font-weight:700">Проверка домашних заданий</a>
                                                <ul class="nav child_menu">




                                                    @foreach (OnlineCourses.Models.Courses c in _db.Users.FirstOrDefault(x => x.UserLogin == User.Identity.Name).MyCourses)
                                                    {
                                                        <li><a href="@Url.Action("ViewBlocks", "Teacher", new { id = c.CourseID })">@c.CourseName</a></li>
                                                    }




                                                </ul>
                                            </li>





                                        </ul>
                                    </li>

                                </ul>

                            </div>

                        </div>
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        <!-- /menu footer buttons -->
                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars" style="color: #2A3F54"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="@user.UserImage" />@user.UserName
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="@Url.Action("LogOut", "UserManager")"><i class="fa fa-sign-out pull-right"></i> Выйти</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    @RenderBody()
                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        &copy; <a href="http://inc.styleru.net/">STYLERU INC</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
    }
    <!-- jQuery -->
    <script src="~/Gentelella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Gentelella/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/Gentelella/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <!-- Datatables -->
    <script src="~/Gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Gentelella/vendors/jszip/dist/jszip.min.js"></script>

    <script src="~/Gentelella/vendors/moment/min/moment.min.js"></script>
    <script src="~/Gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-datetimepicker -->

    <script src="~/Gentelella/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Gentelella/vendors/parsleyjs/dist/parsley.js"></script>
    <script src="~/Gentelella/vendors/parsleyjs/dist/i18n/ru.js"></script>
    <script src="~/Gentelella/vendors/dropzone/dist/dropzone.js"></script>
    <script src="~/Gentelella/vendors/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/toastr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Gentelella/build/js/custom.js"></script>

    <script>
        $('#myDatepicker').datetimepicker({
            format: 'DD.MM.YYYY HH:mm'
        });
        $('#myDatepicker2').datetimepicker({
            format: 'HH:mm'
        });
        $('#myDatepicker3').datetimepicker({
            format: 'MM.YYYY'
        });
    </script>

</body>
</html>
