﻿@model OnlineCourses.Models.LoginPassword

@{
 
    Layout = null;
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/LP/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/LP/LPStyles.css" rel="stylesheet" />
    <title>Добро пожаловать!</title>
</head>
<body class="logBody">

    <nav class="navbar navbar-default navbar-fixed-top navbar-faded" id="mainNav" style="background-color: white">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Login", "Home")" style="color: #2A3F54">HSE</a>
            </div>
            
        </div>
    </nav>

    <section id="login">
        
        <div class="loginContainer">
            <h2 class="section-heading text-center">Добро пожаловать!</h2>
            
                
                <div class="row">
                    
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                        <div class="panel panel-login">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="active" id="login-form-link">ВОЙТИ</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" id="register-form-link">СОЗДАТЬ АККАУНТ</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form id="login-form" action="/Home/Login" method="post" role="form" style="display: block;">
                                            
                                            <div class="form-group">
                                                @Html.ValidationMessage("LoginError")
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(x => x.UserLogin)
                                                @Html.TextBoxFor(x => x.UserLogin, new { @class = "form-control", placeholder = "Ваш логин" })
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(x => x.UserPassword)
                                                @Html.PasswordFor(x => x.UserPassword, new { @class = "form-control", placeholder = "Ваш пароль" })
                                            </div>
                                            <div class="form-group text-center">
                                               
                                                @Html.CheckBoxFor(x => x.Remember)
                                                <label for="remember"> Оставаться в системе</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Войти">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="text-center">
                                                            <a href="@Url.Action("ResetPassword", "Home")" tabindex="5" class="forgot-password">Забыли пароль?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <form id="register-form"  style="display: none;"  data-parsley-validate="" novalidate="">
                                            <div class="form-group">
                                                <input type="text" name="FIO" id="FIO" class="form-control" placeholder="Ваш ФИО" value="" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="login" id="login" class="form-control" placeholder="Ваш логин" value="" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" id="email"  class="form-control" placeholder="Ваш email" value="" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="pas" id="pas"  class="form-control" placeholder="Ваш пароль" data-parsley-minlength="8" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="coPas" id="coPas" class="form-control" placeholder="Повторите пароль" data-parsley-minlength="8" required>
                                            </div>
                                            
                                            <div class="form-group">
                                                            
                                                <button class="btn btn-register" onclick="registerNewUser(FIO.value,login.value, email.value, pas.value, coPas.value); return false;">Создать аккаунт</button>
                                                    
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>

    </section>

    <script src="~/Scripts/LP/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/LP/bootstrap.min.js"></script>
    
    <script src="~/Gentelella/vendors/parsleyjs/dist/parsley.js"></script>
    <script src="~/Gentelella/vendors/parsleyjs/dist/i18n/ru.js"></script>

    <script src="~/Scripts/toastr.js"></script>
    

    <script src="~/Scripts/Login.js"></script>

</body>
</html>
