﻿@model OnlineCourses.Models.LoginPassword

@{

    Layout = null;
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    


}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/LP/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/LP/LPStyles.css" rel="stylesheet" />
    <title>Добро пожаловать!</title>
</head>
<body class="logBody">
    <nav class="navbar navbar-default navbar-fixed-top navbar-faded" id="mainNav" style="background-color: white">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Login", "Home")" style="color: #2A3F54">MAKUB</a>
            </div>

        </div>
    </nav>
    <section id="login">

        <div class="loginContainer">
            <h2 class="section-heading text-center">Восстановление пароля</h2>


            <div class="row">

                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                
                                    <a href="#" class="active" id="login-form-link">Сбросить пароль</a>
                                
                                
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="login-form" action="/Home/ResetPassword" method="post" role="form" style="display: block;">

                                        @Html.HiddenFor(x => x.UserLogin)
                                        @Html.HiddenFor(x => x.UserPassword)
                                        <div class="form-group">
                                            @Html.ValidationMessage("EmailError")
                                            @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control", placeholder = "Введите ваш email" })
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Отправить новый пароль">
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script src="~/Scripts/LP/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/LP/bootstrap.min.js"></script>

    <script src="~/Gentelella/vendors/parsleyjs/dist/parsley.js"></script>
    <script src="~/Gentelella/vendors/parsleyjs/dist/i18n/ru.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script src="~/Scripts/Login.js"></script>
</body>
</html>
