﻿@model OnlineCourses.Models.Homeworks


@{
    ViewBag.Title = Model.HomeworkName;
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
   
}

<div class="homeworkContainer">
    <p class="hwMarkContainer">
        <span class="hwMark">@Model.HomeworkMark</span>
        <br />
        Оценка
    </p>
    <p class="hwName">@Model.HomeworkName</p>
    
    <p> 
        <b>Проверяет: </b> @Model.Lessons.Teachers.TeacherName. @Model.Lessons.Teachers.TeacherPosition <br />
        <b>Дедлайн: </b> @Model.HomeworkDeadline
    </p>
    <p>
        <b>Цель работы</b>
        <br />
        @Model.HomeworkGoal
        <br /> <br />
        <b>Задание</b>
        <br />
        @Model.HomeworkTask
    </p>
    <form class="sendHW">
        <div class="form-group">
            <label for="name">Загрузить работу: </label>
            <textarea class="sendHWTextArea form-control" type="text" id="name" > </textarea>
        </div>
        <a href="#">
            <div>
                <p>Файл</p>
            </div>
        </a>
        <a href="#" class="rightHWButton">
            Возникли проблемы?
        </a>
        <br />
        <a href="#">
            <div>
                <p>Отправить</p>
            </div>
        </a>
       
    </form>
    
</div>

