﻿@model OnlineCourses.Models.Users

@{
    ViewBag.Title = "Доступные курсы";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}



<div class="">
   

    <div class="clearfix"></div>
    <div class="row" style="padding-top:40px;">
        
        
        @foreach(OnlineCourses.Models.Courses c in Model.BoughtCourses)
        {
            
            <div class="col-md-6 col-xs-12 col-sm-6 col-lg-4">
                <div class="courseWrapper" style="background-color: @c.CourseBackground" onclick="location.href='@Url.Action("ViewSingleCourse", "Student", new { id = c.CourseID })'">
                    
                        
                    <img src="@c.CourseImage" />
                    <span class="courseName">@c.CourseName</span>
                </div>
            </div>
        }

       @if (Model.BoughtCourses.Count == 0)
       {
           <p class="noCoursesMSG">Вы еще не купили ни одного курса :(</p>
       }

    </div>



</div>



