﻿@model OnlineCourses.Models.Users

@{
    ViewBag.Title = Model.TeacherName;
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    int a = ViewBag.LessonID;
    OnlineCourses.Models.Lessons lesson = _db.Lessons.FirstOrDefault(x => x.LessonID == a);
}

<div class="">
    

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <ul class="navList">
                        <li><a href="@Url.Action("ViewSingleLesson", "Student", new { id =lesson.LessonID })">@lesson.LessonName</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="max-width: 383px">
                    
                    <div class="x_content">
                        <img src="@Model.UserImage" style="width: 100%" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Об учителе</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        
                        <div class="col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                ФИО:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p class="col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    @Model.UserName
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Email:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p class=" col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    @Model.UserEmail
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Номер телефона:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @if (Model.UserPhone != null)
                                {
                                <p class=" col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    @Model.UserPhone
                                </p>
                                }
                                else
                                {
                                    <p class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Не указано
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Профиль ВКонтакте:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @if (Model.UserVK != null)
                                {
                                    <a class=" col-md-3 col-sm-3 col-xs-12" for="first-name" href="@Model.UserVK">
                                        @Model.UserVK
                                    </a>
                                }
                                else
                                {
                                    <p class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Не указано
                                    </p>
                                }
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>





