﻿@model OnlineCourses.Models.Courses

@{
    ViewBag.Title = Model.CourseName;
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
}

<div class="">

    
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="courseWrapper2" style="background-color: @Model.CourseBackground; cursor: pointer" onclick="location.href='@Url.Action("Index", "CourseMaterials")'">
                <span class="courseName">@Model.CourseName</span>
            </div>
        </div>

        @foreach (OnlineCourses.Models.Blocks b in Model.Blocks)
        {
            string[] monthsR = new string[] { "января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря" };
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 style="font-weight: 700; margin-left: 5px; color: @Model.CourseBackground">@b.BlockName</h3>
            </div>
            foreach (OnlineCourses.Models.Lessons l in b.Lessons)
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="border-radius: 5px;">

                        <div class="x_content singleLesson" onclick="location.href='@Url.Action("ViewSingleLesson", "Student", new { id = l.LessonID })'">

                            <div class="col-md-2 col-sm-12 col-xs-12 lessonImg">
                                <img src="@l.LessonImage" />
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12  lessonInfo">
                                <div>
                                    <span class="lessonName">@l.LessonName</span>
                                    <small>@l.LessonDescription</small>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 lessonDateTime" style="color: @Model.CourseBackground">
                                <span class="lessonDay">@l.LessonDateTime.Day</span>
                                <span class="lessonMonth">@monthsR[l.LessonDateTime.Month-1]</span>
                                <span class="lessonTime">@l.LessonDateTime.ToShortTimeString()</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        
        


    </div>



</div>



