﻿@model OnlineCourses.Models.Users

@{
    ViewBag.Title = "Купить курсы";
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    
    bool anyCourses = false;
}

<div class="">


    <div class="clearfix"></div>
    <div class="row unCourses" style="padding-top:40px;">


        @foreach (OnlineCourses.Models.Courses c in _db.Courses)
        {
            if (Model.BoughtCourses.FirstOrDefault(x=> x.CourseID == c.CourseID) == null && c.UserID != Model.UserID)
            {
                anyCourses = true;
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div class="courseWrapper row" style="background-color: @c.CourseBackground" >
                    @if (c.CoursePrice != 0)
                    {
                        <div class="col-xs-12 text-center">
                        <img src="@c.CourseImage" />
                        <span class="courseName">@c.CourseName</span>
                        <div class="courseInfo">
                            <p>@c.CourseDescription</p>
                        </div>
                    
                        <span class="coursePrice">@c.CoursePrice РУБ.</span>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 courseBtns"  >
                        
                            <button class="btn" style="color:@c.CourseBackground" onclick="location.href='@Url.Action("GetAccessToCourse", "Student", new { cID = c.CourseID })'">Записаться</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 text-center">
                            <img src="@c.CourseImage" />
                            <span class="courseName">@c.CourseName</span>
                            <div class="courseInfo">
                                <p>@c.CourseDescription</p>
                            </div>

                            
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 courseBtns">

                            <button class="btn" style="color:@c.CourseBackground" onclick="location.href='@Url.Action("GetAccessToCourse", "Student", new { cID = c.CourseID })'" >Записаться</button>
                        </div>
                    }
                </div>
            </div>
                }
                                }

                                @if (!anyCourses)
        {
            <p class="noCoursesMSG">Вы приобрели все курсы! Удачного обучения! :)</p>
        }

    </div>



</div>

