﻿@model OnlineCourses.Models.Lessons

@{
    ViewBag.Title = Model.LessonName;
    Layout = "~/Views/_CourseMaterialsLayout.cshtml";
    OnlineCourses.Models.coursesDBEntities _db = new OnlineCourses.Models.coursesDBEntities();
    OnlineCourses.Models.Blocks block = _db.Blocks.FirstOrDefault(x => x.BlockID == Model.BlockID);
    OnlineCourses.Models.Courses course = _db.Courses.FirstOrDefault(x => x.CourseID == block.CourseID);
    OnlineCourses.Models.Users user = _db.Users.FirstOrDefault(x => x.UserLogin == User.Identity.Name);
}

<div class="">


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="courseWrapper2" style="background-color: @course.CourseBackground; cursor: pointer" onclick="location.href='@Url.Action("ViewSingleCourse", "Student", new { id = course.CourseID })'">
                <span class="courseName">@course.CourseName &mdash; @Model.LessonName</span>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                
                <div class="x_content">


                    <ul class="nav nav-tabs nav-justified" style="color: @course.CourseBackground">
                        <li class="active"><a data-toggle="tab" href="#lectureTab">ЛЕКЦИЯ</a></li>
                        <li><a data-toggle="tab" href="#materialsTab">МАТЕРИАЛЫ</a></li>
                        <li><a data-toggle="tab" href="#homeworksTab">ДОМАШНЕЕ ЗАДАНИЕ</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="lectureTab" class="tab-pane fade in active">
                            @if (Model.LessonLecture == null)
                            {
                                <span>
                            Лекция начинается через</span>
                                <div id="countdown" style="color: @course.CourseBackground" class="@(Model.LessonDateTime.Month + "." + Model.LessonDateTime.Day + "." + Model.LessonDateTime.Year + "." + Model.LessonDateTime.Hour + "." + Model.LessonDateTime.Minute)"></div>
                               
                                <a class="btn btn-primary" href="@Model.LessonLecture" style="width: 50%; height: 50px; font-size: 24px; ">Перейти к лекции</a>
                            }
                            else
                            {
                                <iframe style="width: 80%; height: 35vh;" src="@Model.LessonLecture" frameborder="0" allowfullscreen></iframe>
                                
                            }
                            
                        </div>
                        <div id="materialsTab" class="tab-pane fade">
                            <form class="dropzone">

                                @foreach (string file in ViewBag.LessonFiles)
                                {
                                    FileInfo f = new FileInfo(file);
                                    double size = f.Length / (1024.0 * 1024.0);

                                    <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DownloadFile", "Student", new { filePath = @file })'">
                                        <div class="dz-image">
                                            @if (f.Extension == ".zip")
                                            {
                                                <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                            }
                                            else if (f.Extension == ".pdf")
                                            {
                                                <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                            }
                                            else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                            {
                                                <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                            }
                                            else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                            {
                                                <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                            }
                                            else
                                            {
                                                <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                            }
                                        </div>
                                        <div class="dz-details">
                                            <div class="dz-size">
                                                <span data-dz-size=""><strong>@Math.Round(size, 2)</strong> MB</span>
                                            </div>
                                            <div class="dz-filename">
                                                <span data-dz-name="">@f.Name</span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </form>
                        </div>
                        <div id="homeworksTab" class="tab-pane fade">
                            
                            @foreach (OnlineCourses.Models.Homeworks hw in Model.Homeworks)
                            {
                                OnlineCourses.Models.UsersHomeworksTeachers hwut = _db.UsersHomeworksTeachers.FirstOrDefault(x => x.UserID == user.UserID && x.HomeworkID == hw.HomeworkID);
                                <h2 style="color: @course.CourseBackground">@hw.HomeworkName</h2>
                                <p>
                                    <b >Цель работы:</b>
                                </p>
                                <p style="white-space: pre-line">
                                    @hw.HomeworkGoal
                                </p>
                                <p>
                                    <b>Задание:</b>
                                </p>
                                <p style="white-space: pre-line">
                                    @hw.HomeworkTask
                                </p>
                                if (hwut == null || hwut.Mark == null)
                                {
                                    <div class="text-center" style="margin-top: 40px"><span>Дедлайн через</span></div>                                
                                    <div id="countdownHW" style="color: @course.CourseBackground" class="@(hw.HomeworkDeadline.Month + "." + hw.HomeworkDeadline.Day + "." + hw.HomeworkDeadline.Year + "." + hw.HomeworkDeadline.Hour + "." + hw.HomeworkDeadline.Minute)"></div>
                                        if (DateTime.Now < hw.HomeworkDeadline)
                                        {

                                        <p>
                                            <b >Загрузить материалы:</b>
                                        </p>

                                        <form id="dZUpload3" action="~/Student/UploadHWFile?ID=@hw.HomeworkID" class="dropzone dZUpload dropzone-full" style="cursor: pointer;margin-bottom: 10px;">



                                            @foreach (string file in ViewBag.HWFiles)
                                            {
                                                FileInfo f = new FileInfo(file);
                                                double size = f.Length / (1024.0 * 1024.0);

                                                <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DeleteHWFile", "Student", new { filePath = @file, id = Model.LessonID })'">
                                                    <div class="dz-image">
                                                        @if (f.Extension == ".zip")
                                                        {
                                                            <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                                        }
                                                        else if (f.Extension == ".pdf")
                                                        {
                                                            <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                                        }
                                                        else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                                        {
                                                            <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                                        }
                                                        else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                                        {
                                                            <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                                        }
                                                        else
                                                        {
                                                            <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                                        }
                                                    </div>
                                                    <div class="dz-details">
                                                        <div class="dz-size">
                                                            <span data-dz-size=""><strong>@Math.Round(size, 3)</strong> MB</span>
                                                        </div>
                                                        <div class="dz-filename">
                                                            <span data-dz-name="">@f.Name</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </form>
                                        <form class="form-label-left" data-parsley-validate="" novalidate="">
                                            <input type="text" name="UserID" id="UserID" value="@user.UserID" hidden />
                                            <input type="text" name="HomeworkID" id="HomeworkID" value="@hw.HomeworkID" hidden />
                                    
                                            <p>
                                                <b >Комментарий:</b>
                                            </p>
                                        
                                            @if (hwut == null)
                                            {
                                            <textarea name="userComment" id="userComment"  class="form-control col-md-7 col-xs-12"  style="margin-bottom: 10px;" rows="5"></textarea>
                                            }
                                            else
                                            {
                                                <textarea name="userComment" id="userComment" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;" rows="5">@hwut.UserComment</textarea>
                                            }

                                            <button class="btn btn-success" style="background-color: @course.CourseBackground" onclick="userSendsHWComment(UserID.value, HomeworkID.value,userComment.value); return false;">Сохранить комментарий</button>
                                     
                                        </form>
                                    }
                                }
                                else
                                {
                                    
                                    <div class="text-center" style="margin-top: 40px; margin-bottom: 20px;"><span style="color: @course.CourseBackground">Результаты проверки</span></div>
                                   
                                    <p>
                                        <b>Файлы, присланные учителем:</b>
                                    </p>
                                    <form class="dropzone dropzone-full">

                                        @foreach (string file in ViewBag.TeacherAnswerFiles)
                                        {
                                            FileInfo f = new FileInfo(file);
                                            double size = f.Length / (1024.0 * 1024.0);

                                            <div class="dz-preview" style="cursor: pointer" onclick="location.href='@Url.Action("DownloadFile", "Student", new { filePath = @file })'">
                                                <div class="dz-image">
                                                    @if (f.Extension == ".zip")
                                                    {
                                                        <img data-dz-thumbnail alt="@file" src="~/Images/002-files.png" />
                                                    }
                                                    else if (f.Extension == ".pdf")
                                                    {
                                                        <img data-dz-thumbnail alt="@file" src="~/Images/004-file.png" />
                                                    }
                                                    else if (f.Extension == ".xls" || f.Extension == ".xlsx")
                                                    {
                                                        <img data-dz-thumbnail alt="@file" src="~/Images/003-file-1.png" />
                                                    }
                                                    else if (f.Extension == ".jpg" || f.Extension == ".png" || f.Extension == ".jpeg")
                                                    {
                                                        <img data-dz-thumbnail alt="@file" src="~/Images/001-photo.png" />
                                                    }
                                                    else
                                                    {
                                                        <img data-dz-thumbnail alt="@file" src="~/Images/text.png" />
                                                    }
                                                </div>
                                                <div class="dz-details">
                                                    <div class="dz-size">
                                                        <span data-dz-size=""><strong>@Math.Round(size, 2)</strong> MB</span>
                                                    </div>
                                                    <div class="dz-filename">
                                                        <span data-dz-name="">@f.Name</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </form>
                                    <form class="form-label-left" data-parsley-validate="" novalidate="">
                                        

                                        <p>
                                            <b >Комментарий учителя:</b>
                                        </p>

                                        <textarea name="teacherComment" id="teacherComment" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px; background-color: unset; white-space: pre-line" rows="5" readonly >@hwut.TeacherComment</textarea>
                                        <p>
                                            <b >Оценка:</b>
                                        </p>
                                        <div class="form-group text-center" style="margin-bottom: 20px; margin-top: 40px">

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                
                                                <input type="text" id="hwMark" class="knob" data-width="100" data-cursor="true" data-height="120" data-min="0" data-max="10" data-fgcolor="#ffffff" value=@hwut.Mark readonly style="font-family: 'Open Sans';" />
                                            </div>
                                        </div>
                                        

                                    </form>
                                }

                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
    </div>
    


</div>

